.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  gap: 24px;
  grid-template-areas: "header header"
  "aside main";
}

.header {
  grid-area: header;
  background-color: aqua;
}

.aside {
  grid-area: aside;
  background-color: saddlebrown;
}

.main {
  grid-area: main;
  background-color: deeppink;
}